div.loginPage__mainContainer__div {
  width: clamp(220px, 95vw, 360px);
  height: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

main.loginPage__mainBody__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}