.form-outer{
    width: 100%;
    overflow: hidden;
  }
  .form-outer form{
    display: flex;
    width: 400%;
  }
  .form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
  }
  .form-outer form .page .title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
  }
  .form-outer form .page .field{
    width: 330px;
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
  }
  form .page .field .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
  }
  form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 18px;
  }
  form .page .field select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
  }
  form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: #d33f8d;
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
  }
  form .page .field button:hover{
    background: #000;
  }
  form .page .btns button{
    margin-top: -20px!important;
  }
  form .page .btns button.prev{
    margin-right: 3px;
    font-size: 17px;
  }
  form .page .btns button.next{
    margin-left: 3px;
  }
  .container .progress-bar{
    display: flex;
    margin: 40px 0;
    user-select: none;
  }
  .container .progress-bar .step{
    text-align: center;
    width: 100%;
    position: relative;
  }
  .container .progress-bar .step p{
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
  }