$primary-color: #fffefc;
$secondary-color: #7579E7;
$black-500: #0c0c0c;
$black-50: #272727;

$accent-color: #4258ff;
$accent-color-900: #5468ff;
$accent-color-800: #6779ff;
$accent-color-700: #7a8aff;
$accent-color-600: #8d9aff;
$accent-color-500: #a0abff;
$accent-color-400: #b3bcff;
$accent-color-1100: #3b4fe5;
$accent-color-1200: #3446cc;

$border-color-uf: #dcdcdc;